.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

.App a {
  text-align: left;
}

.Counter {
  text-align: center;
  background: #eee;
  margin: 5px;
  padding: 5px;
}

.success {
  color: #005500;
}

.fail {
  color: #aa0000;
}
